.about-title {
    font-weight: bolder;
    color: rgb(125, 125, 125);
}

.about-paragraph {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    color: rgb(125, 125, 125);
    line-height: 35px;
}