@import './_nav.css';
@import './_footer.css';

.background {
   background-color: rgba(125, 148, 225, 0.777);
}
.column1{
    position: absolute;
    top: 115px;
    left: 2%;
    width: 45%;
    margin: 15px;
    border: 1px solid #000;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
}
h2{
   font-family: 'special elite';
   font-weight: 500;
   font-style: normal;
   text-align: center;
   line-height: 50px;
   letter-spacing: 4px;  
}
p{
   text-align: justify;
   line-height: 25px; 
   letter-spacing: 2px;
}
.column2{
   float: right;
   width: 25%;
   margin: 15px;
}
.image{
   position: absolute;
   border: 500px;
   top: 165px;
   left: 55%;
}
