@import '_nav.css';
@import '_hero.css';
@import '_about.css';
@import '_projects.css';
@import '_footer.css';
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
